footer {
    margin-top: 2rem;
    height: 2rem;
    text-align: center;
}

#footerParagraph {
    font-size: 0.8rem;
    font-family: 'SUSE';
    font-weight: 500;
    opacity: 0.6;
}

#footerURL {
    font-family: 'SUSE';
    font-weight: 500;
    color: #000;
}

#footerURL:hover {
    font-family: 'SUSE';
    font-weight: 500;
    font-style: oblique;
}