
@media screen and (min-width: 1250px) {    
     #headerText {
        float: right;
        margin-right: 15rem;
    }
}

@media screen and (max-width: 1250px) {
    header {
        background-image: url(../img/allokep.jpg);
        height: 100vh;
        display: grid;
        place-items: center;
        position: relative;
        text-align: center;
    }
    
    header::before {
        background-image: url(../img/allokep.jpg);
        text-align: center;
        background-size: cover;
        content: '';
        position: absolute;
        inset: 0;
        opacity: 0.5;
    }

    h1 {
        isolation: isolate;
        opacity: 1;
        text-align: center;
        font-size: 80px;
        /* padding-top: 8rem; */
        color: #ECDFCC;
        text-shadow: 3px 1px #181C14;
        font-family: 'SUSE';
        animation: slideInText 1s ease forwards;
    }
    
    #headerParagraph {
        text-align: center;
        color: #ECDFCC;
        text-shadow: 3px 1px #181C14;
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        animation: slideInText 1.5s ease forwards;
    }

    #kamera {
        margin-top: 1rem;
        background-color: #000;
    }

    h2 {
        font-size: 2rem;
    }
}
