@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    display: none;
}

body, html {
    display: flex;
    margin: 0px;
    padding: 0px;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

header {
    background-image: url(../img/ujheader.jpg);
    height: 24rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(238, 174, 202, 0.4));
    pointer-events: none;
}

h1 {
    font-size: 80px;
    padding-top: 8rem;
    color: #000;
    text-shadow: 3px 1px white;
    font-family: 'Montserrat';

    animation: slideInText 1s ease forwards;
}

h5 {
    text-align: center;
}

li {
    font-weight: 500;
}

h2 {
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}