@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

::-webkit-scrollbar {
    display: none;
}

body, html {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: #697565;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-image: url(../img/header.png);
    height: 24rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 80px;
    color: #ECDFCC;
    text-shadow: 3px 1px #3C3D37;
    font-family: 'SUSE';

    /* animation: slideInText 1s ease forwards; */
}

h5 {
    text-align: center;
}

li {
    font-weight: 500;
}

hr {
    color: #000;
    margin: 0;
    background-color: #fff;
}

h2 {
    color: #000;
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

section {
    padding: 1rem; 
    margin: 1rem;
}